#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

main {
  //center
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > .wheel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .wheel-container {
      max-width: 70vh;
      width: 100%;
    }
    > .wheel-controls {
      display: flex;
    }
  }
  .sidebar-button {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

aside {
  background: var(--mantine-color-dark-8);
  display: grid;
  grid-template-columns: 1fr;
  //don't center grid items vertically
  align-content: start;
}
