.c-wheel-spinner {
  position: relative;
  width: 100%;
  .wheel-container {
    position: relative;
    .wheel-indicator {
      position: absolute;
      font-size: 40px;
      top: 50%;
      right: 0;
      color: #f357a1;
      transform: translate(18px, -51.5%) scaleX(1.5);
      text-shadow: -3px 0px 0px rgba(0, 0, 0, 0.668),
        -2px 3px 4px rgba(0, 0, 0, 0.239),
        -2px 5px 14px rgba(192, 192, 192, 0.5);
      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0px;
      //   left: 0px;
      //   width: 0;
      //   height: 0;
      //   border-top: 15px solid transparent;
      //   border-bottom: 15px solid transparent;
      //   border-left: 38px solid gray;
      //   //rotate it to point to the left
      //   transform: rotate(0deg) translate(-120%, -50%);
      // }
    }
  }
  // background:red;
}
