.c-slice{
  position: absolute;
  //take up the entire slice
  width: 100%;
  //rotate the slice around the right axis
  transform-origin: left;
  //center slice text
  display:flex;
  justify-content: flex-end;
  align-items: center;

  .text{
    margin-right: 10px;
    color: black;
  }
}