.c-slice {
  position: absolute;
  //take up the entire slice
  width: 100%;
  //rotate the slice around the right axis
  transform-origin: left;
  //center slice text
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .text {
    //prevent from hitting the center
    padding-left: 80px;
    //prevent from going over the outer edge
    margin-right: 30px;
    color: black;
  }
}
