.c-settings-modal {
  .currency-settings {
    --mantine-color-error: red;
    background: rgba(255, 255, 255, 0.06);
    &.selected {
      background: color-mix(
        in srgb,
        var(--mantine-color-pink-4) 8%,
        rgba(255, 255, 255, 0)
      );
      border-color: var(--mantine-color-pink-4);
      input {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
