.c-entry-card {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px;

  >.entry-text{
    margin-left: 8px;
    padding-bottom: 4px;
    text-align: left;
    flex-grow: 1;
  }

  >.entry-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    :global(.mantine-CloseButton-root) {
      color: var(--mantine-color-red-3)
    }
  }

}
