#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

main {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr auto;
  > .wheel {
    flex-grow: 1;
    max-width: 70vh;
    > .wheel-controls {
      display: flex;
    }
  }
}
