.c-wheel {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  //make a big ole circluar
  width: 100%;
  height: 100%;
  //width and height should be the same
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  // border: 16px solid white;
  // background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  .slices-container {
    position: relative;
    //take up only half the circle
    width: 50%;
    //move to the right
    transform: translate(50%, 0%);
  }
}

//create a temporary spinning animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
